{{!< main}}

<div class="container">
    <h1>Criar Novo Curso</h1>
    <form action="/major/create" method="post" class="mt-4">
        <div class="mb-3">
            <label for="code" class="form-label">Código</label>
            <input type="text" id="code" name="code" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descrição</label>
            <textarea id="description" name="description" class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
        <a href="/major" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
