{{!< main}}

<div class="container mt-4">
    <h1>Detalhes do Curso</h1>
    <div class="mb-3">
        <label class="form-label"><strong>Código:</strong></label>
        <p class="form-control-plaintext">{{major.code}}</p>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Nome:</strong></label>
        <p class="form-control-plaintext">{{major.name}}</p>
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Descrição:</strong></label>
        <p class="form-control-plaintext">{{major.description}}</p>
    </div>
    <a href="/major" class="btn btn-secondary">Voltar</a>
    <a href="/major/update/{{major.id}}" class="btn btn-warning">Editar</a>
</div>
